<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Evènements</h1>
        <p>Retrouve sur cette page tous les évènements de la Genesteam 91!</p>
        <a class="btn btn-primary btn-md" href="/events/new">Créer un évènement</a>
    </div>
    
    <div class="row">
        <% events.forEach(function(events){%>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="<%= events.image %>">
                <div class="caption">
                    <h3><%= events.title %></h3>
                    <p><%- events.description.substr(0, 100) %> ...</p>
                    <p class="text--center"><a href="events/<%= events.id %>" class="btn btn-primary" role="button">Découvrir</a></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>