<% include ../partials/header %>


<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Créer un nouvel évènement</h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/events" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="title" name="title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="image" name="image">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="image 2" name="image2">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="image 3" name="image3">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="image 4" name="image4">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="image 5" name="image5">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="video" name="video">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Envoyer</button>
                </div>
            </form>
            <a href="/sports" style="text-align:center;">Retour</a>
        </div>
    </div>
</div>




<% include ../partials/footer %>