    
    <div class="footer">
        <div class="container">
            <a class="footer--link" href="/">Acceuil</a>
            <a class="footer--link" href="/events">Evènements</a>
            <a class="footer--link" href="/sports">Sports</a>
            <p class="footer--text">Copyrights tous droits réservé Genesteam 91.</p>
        </div>
    </div>
    </body>
</html>