<% include ../partials/header %>


<div class="container landing--conexion">
    <div class="row">
        <h1 style="text-align:center;">Créer un nouveau commentaire</h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/sports/<%= sports._id %>/comments" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="texte" name="comment[text]">
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Envoyer</button>
                </div>
            </form>
            <a href="/sports" style="text-align:center;">Retour</a>
        </div>
    </div>
</div>




<% include ../partials/footer %>