<% include ./partials/header %>

<h1>Sign up!</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username"></input>
    <input type="password" placeholder="password" name="password"></input>
    <button>Submit</button>
</form>


<% include ./partials/footer %>