<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Sports</h1>
        <p>Retrouve sur cette page tous les articles sur nos exploits de cycliste !</p>
        <a class="btn btn-primary btn-md" href="/sports/new">Créer un nouveau récit sportif</a>
    </div>
    
    <div class="row">
        <% sports.forEach(function(sports){%>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="<%= sports.image %>">
                <div class="caption">
                    <h3><%= sports.title %></h3>
                    <p><%- sports.description.substr(0, 100) %></p>
                    <p class="text--center"><a href="sports/<%= sports.id %>" class="btn btn-primary" role="button">Découvrir</a></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>