<% include ../partials/header %>


<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Créer un nouvel évènement sportif</h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/sports" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="title" name="title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="image" name="image">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="edition" name="edition">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="etape" name="etape">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="description" name="description">
                </div>
                <label>Classement</label>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">1</span>
                    <input type="text" class="form-control" placeholder="Premier" name="classement[premier]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">2</span>
                    <input type="text" class="form-control" placeholder="Deuxieme" name="classement[deuxieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">3</span>
                    <input type="text" class="form-control" placeholder="Troisieme" name="classement[troisieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">4</span>
                    <input type="text" class="form-control" placeholder="Quatrieme" name="classement[quatrieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">5</span>
                    <input type="text" class="form-control" placeholder="Cinquieme" name="classement[cinquieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">6</span>
                    <input type="text" class="form-control" placeholder="Sixieme" name="classement[sixieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">7</span>
                    <input type="text" class="form-control" placeholder="Septieme" name="classement[septieme]">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Envoyer</button>
                </div>
            </form>
            <a href="/sports" style="text-align:center;">Retour</a>
        </div>
    </div>
</div>




<% include ../partials/footer %>