body { 
    padding-top: 70px;
    font-family: "Open Sans";
}

.thumbnail{
    padding: 0px;
}
.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display: inline;
}

.text--center{
    text-align: center;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 35vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://s3.us-east-2.amazonaws.com/image-genesteam91/homepage-image/mariage-tc.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://s3.us-east-2.amazonaws.com/image-genesteam91/homepage-image/gt-2016.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://s3.us-east-2.amazonaws.com/image-genesteam91/homepage-image/207456_10150468466640077_3587778_n.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://s3.us-east-2.amazonaws.com/image-genesteam91/homepage-image/08.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.profil--element{
  display: inline-block;
}

.profil--image{
  border-radius: 50%;
}

.home--profil--center{
  text-align: center;
}

.home--profil--image{
  width: 70%;
  margin: auto;
  border-radius: 50%;
}

.footer{
  background-color: #2a2730;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 40px;
  padding-top: 50px;
}

.footer--text {
  color: #99979c;
}

.footer--link {
  color: #fff;
  margin-right: 20px;
  font-size: 16px;
  line-height: 1.5em;
}

.home--section--title{
  padding: 50px 0px;
  text-align: center;
}

.home--section-events{
  background-color: #fafafa;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.landing--conexion{
  height: 100%;
}

.home--event--image{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}